__pycache__/
*.py[cod]

wandb/
outputs/
*.log

.env
.venv
.ipynb_checkpoints

*.txt
!reminder_docker.txt
!requirements.txt

see_results_csv.ipynb
profiling/
data/
figs/
docker-compose.yml
docker-compose.yml
